@import "./libs/include-media";

$breakpoints: (small: 480px, medium: 768px, large: 1024px, e-large: 1200px);

html {

    font-size: 16px;

    @include media(">=large") {
        font-size: 21px;
    } 
}

* {
    box-sizing: border-box;
}
