.card {

    $crossWidth: 1rem;

    &__wrapper {
        position: relative;
        margin-top: 2rem; 
        margin-bottom: 2rem;
        margin-right: 1rem;
        margin-left: 1rem;
        width: 20rem;   
        height: 30rem;
        cursor: pointer;

        transition: opacity 1s 1s linear;
        opacity: 1;

        &--hidden-active {
            opacity: 0;
            cursor: default;
            &::after, &::before {
                content: "";
                background-color: red;
                width: $crossWidth;
                height: 36.5rem;
                border-radius: 10px;
                transform-origin: 50% 0;
                z-index: 1;
                top: 0;
                position: absolute;
            }
            &::after {
                left: 0;
                transform: rotate(-33deg) translate(-#{$crossWidth / 2}, -#{$crossWidth / 2});
            }
            &::before {
                right: 0;
                transform: rotate(33deg) translate(#{$crossWidth / 2}, -#{$crossWidth / 2});
            }
        }

        &--hidden {
            cursor: default;
        }

        &--hidden > * {
            display: none;
        }
    }

    &__front, &__back {
        position: absolute;
        backface-visibility: hidden;
        transition: transform 0.5s linear;
    }

    &__back {

        transform: perspective(1200px) rotateY(0deg);

        & img {
            width: 20rem;   
            height: 30rem;
            border-radius: 10px;
        }

        &--view-front {
            transform: perspective(1200px) rotateY(-180deg);
        }
    }

    &__error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 20rem;
        height: 30rem;

        text-align: center;
        color: white;

        background-color: gray;
        border-radius: 10px;

        & h2 {
            font-size: 5rem;
        }

        & p {
            margin-top: 3rem;
            font-size: 2rem;
            width: 15rem;
        }
    }

    &__front {

        transform: perspective(1200px) rotateY(180deg);

        width: 20rem;
        height: 30rem;

        & img {
            border-radius: 10px;
        }

        &--view-front {
            transform: perspective(1200px) rotateY(0deg);
        }

        &[data-position="vertical"] img {
            width: 30rem;
            height: 20rem;
            object-fit: cover;
            transform: rotate(-90deg);
            transform-origin: 50% 75%;
        }

        &[data-position="horizontal"] img {
            width: 20rem;
            height: 30rem;
            object-fit: cover;
        }
    }
}