.page {
    &__elems {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100vh;
    }

    &__navigation {
        width: 100%;
        height: 50px;
        background-color: #353D4B;
    }

    &__menu {
        width: 20%;
        display: none;
        height: calc(100% - 100px);

        @include media(">=large") {
            font-size: 10px;
            display: block;
        }
    }

    &__table {
        width: 100%;
        height: calc(100% - 50px);
        overflow: auto;

        @include media(">=large") {
            width: 80%;
        }
    }

    &__modal {
        top: 0;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100vh;
    }
}